<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/mobile.css" />
    <link rel="stylesheet" media="only screen and (min-width : 600px)" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/cms.css">
  </head>
<body>
<header>
  <div class="container">
        <h2>Films</h2>
    <div class="topbarContainer">
      

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allfilms">Film List</a></li>
        <li><a href="/cms">CMS</a></li>
      </ul>
    </nav>
    <div class="topbar">
      
      <% if (login) { %>
      <%- include('logout-include'); %>
      <%} else { %>
      <%- include('login-include'); %>
      <% } %>  
        <div class="searchBox">
          <form method="get" action="/search">
            <input type="text" name="searchVal">
            <input type="submit" value="Search">
          </form>  
                </div> 
         </div>
      </div>
  </div>
</header>