<%- include('partials/head'); %>
<div class="container">
    <h1>Sign Up</h1>
    
        <% if (locals.registerMsg) { %>
        <p class="error">
          <%= registerMsg %>
        </p>
          <% } else { %>
        <p class="error hide">
        </p>
       <% } %>

    <form action="/signup" method="post" class="logReg" id="signUpForm">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>

      <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
      </div>

      <div>
        <input type="submit" value="Sign Up" />
      </div>
    </form>
</div>
<script src="/js/formvalidation.js"></script>
<%- include('partials/footer'); %>
